/* General Styles */
.app-print {
  padding: 8px 12px;
  background-color: #555;
  border: 1px solid #333;
  border-radius: 3px;
  color: #f1f1f1;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.9px;
  margin-bottom: 0;
}

body {
  font-family: 'Heebo', 'roboto', Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  border-radius:10px;background-color:#F5F5F5
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #616161
}

a {
  color: #f34c4c;
}

a:hover,
a:active,
a:focus {
  color: #fb6464;
}

nav.app-nav {
  background-color: #f34c4c;
}

nav.app-nav .brand-logo {
  margin-left: 30px;
}

nav.app-nav a:hover,
nav.app-nav a:active,
nav.app-nav a:focus {
  color: white;
}

.btn {
  background-color: #f34c4c;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #fb6464;
}

.lbl-error {
  color: red;
}

/* Page Styles */
.page-index .header {
  height: 460px;
  background-color: #D5D5D5;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),  rgba(125, 125, 125, 0.1)), url('../img/home-header.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-index .header h1 {
  font-family: 'Lobster', Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin-top: 140px;
}

.page-index .header p {
  text-align: center;
  font-size: 20px;
  color: white;
}

.page-login .login-card {
  margin-top: 30px;
}

.page-login .login-card .link-register span {
  display: block;
  margin-top: 30px;
  line-height: 160%;
}

.page-signup .signup-card {
  margin-top: 30px;
}

.page-signup .signup-card .link-login span {
  display: block;
  margin-top: 30px;
  line-height: 160%;
}